@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Exo:wght@400;700&family=Macondo&family=Pacifico&family=Roboto:ital,wght@0,400;1,700&display=swap");

ADICIONADO QDO CRIAMOS A HEADER .Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 340px;
  height: 45px;
}

.Logo__titulo {
  position: absolute;
  left: 55px;
  font-family: "Exo";
  font-weight: 700;
  font-size: 2.5em;
}

.Logo__icone {
  position: absolute;
  left: -20px;
  top: -15px;
}

.Sacola {
  position: relative;
}

.Sacola__icone {
  cursor: pointer;
}

.Sacola__badge {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
  div.Animacao {
    width: 700px;
    margin-left: 4.5rem;
    font-size: 20px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
  div.Animacao {
    margin-left: 1rem;
    font-size: 20px;
  }
}

@media (max-width: 740px) {
  div.Animacao {
    margin-left: 2rem;
    width: 400px;
    margin: 0 auto;
    font-size: 17px;
  }
}

@media (max-width: 450px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .Logo__titulo {
    font-size: 1.5em;
  }

  div.Animacao {
    margin-left: 1rem;
    width: 280px;
    font-size: 12px;
  }
}
/*ESTILIZAÇÃO DO BOTÃO DE SUBIR SCROLL*/
.scrollbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: red;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 999;
  cursor: pointer;
  color: wheat;
}
/*KEYFRAMES PARA FICAR MUDANDO DE COR PARA COMBINAR COM CORES DAS PALETAS*/
@keyframes Animacao {
  0% {
    background-color: #29f53d;
  }
  10% {
    background-color: aqua;
  }
  20% {
    background-color: #f5d529;
  }
  30% {
    background-color: #f5841c;
  }
  40% {
    background-color: #82393e;
  }
  50% {
    background-color: #3911eb;
  }
  60% {
    background-color: #542b14;
  }
  70% {
    background-color: #a6a6a6;
  }
  80% {
    background-color: #fedfb5;
  }
  90% {
    background-color: #e7e3d8;
  }
  100% {
    background-color: #e94b3c;
  }
}
/*ANIMAÇÃO PARA HOVER E KEYFRAMES DAS PALETAS E MENSAGEM INICIAL ACIMA DAS PALETAS*/
.Animacao {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  width: 700px;
  height: 150px;
  background-color: #f5d529;
  transition: all 1s linear;
  content: "teste";
  font-family: Pacifico;
  font-size: 20px;
  animation-name: Animacao;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
/*HOVER PARA FIAR CRESCER A MENSAGEM INICIAL*/
div.Animacao:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 200px;
  background-color: blue;
  font-size: 30px solid;
}
