.PaletaListaItem {
  font-family: "Exo";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

@media (max-width: 400px) {
  .PaletaListaItem{
    width: 300px;
  }
}
@media (max-width:300px) {
  .PaletaListaItem{
    width: 200px;
  }

}
.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
}

.PaletaListaItem__titulo {
  font-size: 1rem;
  font-weight: 700;
  line-height: 100%;
  margin: 0 auto;
}

.PaletaListaItem__descricao {
  font-size: 0.85em;
  margin-bottom: 0.3rem;
}

.PaletaListaItem__preco {
  color: darkviolet;
  margin-bottom: 0.3rem;
  margin: auto;
}

.Acoes {
  display: flex;
  justify-content: space-between;
}

.Acoes__adicionar,
.Acoes__remover {
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  max-width: 280px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
}

.Acoes__remover {
  background-color: red;
}

.Acoes__adicionar {
  background-color: darkviolet;
  margin: 0 auto;
}

.Acoes__adicionar--preencher {
  width: 100%;
}

.PaletaListaItem__foto {
  height: 200px;
  margin: 0 auto;
}

/* badge */
.PaletaListaItem__badge {
  background-color: greenyellow;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: black;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -9px;
  left: -9px;
}
